In [1]:
import pandas as pd
import numpy as np

In [2]:
import os

In [3]:
df = pd.read_csv("/kaggle/input/data-visualizatiion/insurance.csv")
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [4]:
df2 = df.copy()
df3 = df.copy()
df4 = df.copy()
df5 = df.copy()
df6 = df.copy()
df7 = df.copy()
df8 = df.copy()
df9 = df.copy()
df10 = df.copy()

In [8]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

# Replace

In [33]:
object_dict={}
count=0 #we can use random value
for column in df2.columns:
    if df2[column].dtype == 'object':
        uniqueValue=df2[column].unique()
        for value in uniqueValue:
            object_dict[value]=count
            count+=1

In [34]:
for column in df2.columns:
    if df2[column].dtype =='object':
        df2[column] = df2[column].replace(object_dict)

In [41]:
df2.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       2       4  16884.92400
1   18    1  33.770         1       3       5   1725.55230
2   28    1  33.000         3       3       5   4449.46200
3   33    1  22.705         0       3       6  21984.47061
4   32    1  28.880         0       3       6   3866.85520

# **Label Encoding**

Manually

In [13]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [14]:
df4.sex = le.fit_transform(df4.sex)
df4.smoker = le.fit_transform(df4.smoker)
df4.region = le.fit_transform(df4.region)

In [15]:
df4.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

LOOP

In [30]:
def labelEncoding(column):
    object_dict={}
    count=0 #we can use random value
    uniqueValue=column.unique()
    for i in uniqueValue:
        object_dict[i]=count
        count+=1
    return object_dict

In [31]:
for column in df3.columns:
    if df3[column].dtype =='object':
        df3[column] = df3[column].replace(labelEncoding(df3[column]))

In [32]:
df3.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       0       0  16884.92400
1   18    1  33.770         1       1       1   1725.55230
2   28    1  33.000         3       1       1   4449.46200
3   33    1  22.705         0       1       2  21984.47061
4   32    1  28.880         0       1       2   3866.85520

# One Hot Encoding

Manually

In [34]:
sexdummies = pd.get_dummies(df5['sex'], drop_first=True)
sexdummies.head()
df5=df5.drop('sex',axis=1)

In [35]:
smokerdummies = pd.get_dummies(df5['smoker'], drop_first=True)
smokerdummies.head()
df5=df5.drop('smoker',axis=1)

In [36]:
regiondummies = pd.get_dummies(df5['region'], drop_first=True)
regiondummies.head()
df5=df5.drop('region',axis=1)

In [37]:
df5 = pd.concat([df5, sexdummies, smokerdummies, regiondummies], axis=1)
df5.head()

,age,bmi,children,charges,male,yes,northwest,southeast,southwest
0,19,27.900,0,16884.92400,0,1,0,0,1
1,18,33.770,1,1725.55230,1,0,0,1,0
2,28,33.000,3,4449.46200,1,0,0,1,0
3,33,22.705,0,21984.47061,1,0,1,0,0
4,32,28.880,0,3866.85520,1,0,1,0,0

LOOP

In [7]:
for column in df6.columns:
    if df6[column].dtype == 'object':
        dummies = pd.get_dummies(df6[column],drop_first=True, prefix='One_Hot_'+'_'+str(column))
        df6.drop(df6[[column]], axis=1,inplace=True)
        df6=pd.concat([df6,dummies],axis=1)

In [8]:
df6.head()

,age,bmi,children,charges,One_Hot__sex_male,One_Hot__smoker_yes,One_Hot__region_northwest,One_Hot__region_southeast,One_Hot__region_southwest
0,19,27.900,0,16884.92400,0,1,0,0,1
1,18,33.770,1,1725.55230,1,0,0,1,0
2,28,33.000,3,4449.46200,1,0,0,1,0
3,33,22.705,0,21984.47061,1,0,1,0,0
4,32,28.880,0,3866.85520,1,0,1,0,0

# Ordinal

Manually

In [18]:
from sklearn.preprocessing import OrdinalEncoder

In [21]:
sex = df7.sex.unique()
ordinal = OrdinalEncoder(categories=[sex])
df7.sex = ordinal.fit_transform(df7[['sex']])

In [22]:
smoker = df7.smoker.unique()
ordinal = OrdinalEncoder(categories=[smoker])
df7.smoker = ordinal.fit_transform(df7[['smoker']])

In [24]:
region = df7.region.unique()
ordinal = OrdinalEncoder(categories=[region])
df7.region= ordinal.fit_transform(df7[['region']])

In [25]:
df7.head()

   age  sex     bmi  children  smoker  region      charges
0   19  0.0  27.900         0     0.0     0.0  16884.92400
1   18  1.0  33.770         1     1.0     1.0   1725.55230
2   28  1.0  33.000         3     1.0     1.0   4449.46200
3   33  1.0  22.705         0     1.0     2.0  21984.47061
4   32  1.0  28.880         0     1.0     2.0   3866.85520

LOOP

In [38]:
#I find this kind of similar to label encoding. 
def OrdinalEncoding(column):
    object_dict={}
    count=0.0 #set values for repected column
    uniqueValue=column.unique()
    for i in uniqueValue:
        object_dict[i]=count
        count+=1.0
    return object_dict

In [36]:
for column in df8.columns:
    if df8[column].dtype =='object':
        df8[column] = df8[column].replace(OrdinalEncoding(df8[column]))

In [37]:
df8.head()

   age  sex     bmi  children  smoker  region      charges
0   19  0.0  27.900         0     0.0     0.0  16884.92400
1   18  1.0  33.770         1     1.0     1.0   1725.55230
2   28  1.0  33.000         3     1.0     1.0   4449.46200
3   33  1.0  22.705         0     1.0     2.0  21984.47061
4   32  1.0  28.880         0     1.0     2.0   3866.85520